/* Add screen styles below */
:root {
    --main-bg-color: #E9E9E9;
    --primary-text-color: #000000;
    --secondary-text-color: #828282;
    --font-family: Verdana, Geneva, sans-serif;
    --nav-background-color: #FF6600;
    --main-background-color: #F6F6EF;
}

.body {
    font-family: var(--font-family);
}

nav {
    display: flex;
    align-items: center;
    background-color: #FF6600;
}
.nav-items {
    color: var(--primary-text-color);
    font-size: 13.33px;
    font-weight: 400;
    white-space: nowrap;
}

.nav-items a {
    display: inline-block;
    padding: 0 5px;
}

.title {
    font-size: 13.33px;
    font-weight: 800;
}

.nav-items a {
    color: var(--primary-text-color);
    font-size: 13.33px;
    font-weight: 400;
    text-decoration: none;
}

.login {
    margin-left: auto;
}

.login a {
    color: var(--primary-text-color);
    font-size: 13.33px;
    font-weight: 400;
    text-decoration: none;
}

.content {
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
}

.header a,
.header h6 {
    display: inline-block;
    margin-right: 5px;
}

.header a {
    color: var(--primary-text-color);
    font-size: 13.33px;
    font-weight: 400;
    text-decoration: none;
}

.header h6 {
    font-size: 10.66px;
    font-weight: 500;
    color: var(--secondary-text-color);
}

.subheader {
    color: var(--secondary-text-color);
    font-size: 9.33px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.subheader a,
.subheader h6 {
    color: var(--secondary-text-color);
    font-size: 9.33px;
    font-weight: 600;
    display: inline-block;
    margin-right: 5px;
    text-decoration: none;
}

.subheader h6 {
    margin-left: 25px;
}

.content h5,
.content img,
.content .header {
    display: inline;
    margin-right: 5px;
}

h5 {
    margin: 0;
    width: 20px;
    text-align: right;
}

h6 {
    margin: 0;
}